html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    width: 100%;
    font-family: 'ralewayregular', Arial, sans-serif;
}
a, a:visited, a:active {
    color: #FFFFFF;
    text-decoration: none;
}
.page-container {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 33%;
}
.page-nav {
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.section {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    color: #FFFFFF;
    font-size: 24px;
    text-shadow: 1px 1px #555555;
    opacity: .9;
    -webkit-transition: all .40s ease-out;
    transition: all .40s ease-out;
    cursor: pointer;
    min-width: 256px;
}
.section:hover {
    opacity: 1;
}
/* bg images */
.about-section {
    background-image: 
    -webkit-linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/old-books-1534.jpg');
    background-image: 
    linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/old-books-1534.jpg'); /* https://pixabay.com/en/old-books-book-old-library-436498/ */
        /* url('../img/home/book-row.jpg'); https://stocksnap.io/photo/EB9B6BC1F6 */
        /* url('../img/home/library.jpg'); https://stocksnap.io/photo/EB9B6BC1F6 */
}
.cv-section {
    background-image: 
    -webkit-linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/typewriter-1534.jpg');
    background-image: 
    linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/typewriter-1534.jpg'); /* https://pixabay.com/en/typewriter-keys-mechanically-726965/ */
}
.teaching-phil-section {
    background-image: 
        -webkit-linear-gradient(
            rgba(0,0,0,.3),
            rgba(0,0,0,.5)
        ),
        url('../img/home/notepad-pencil-1534.jpg');
    background-image: 
        linear-gradient(
            rgba(0,0,0,.3),
            rgba(0,0,0,.5)
        ),
        url('../img/home/notepad-pencil-1534.jpg'); /* http://www.designerspics.com/photographs/note-pad-pencil/ */
        /* url('../img/home/book-shelf.jpg'); http://jaymantri.com/post/93427518193/download */
}
.syllabus-section {
    background-image: 
        -webkit-linear-gradient(
            rgba(0,0,0,.3),
            rgba(0,0,0,.5)
        ),
        url('../img/home/book-stack-1534.jpg');
    background-image: 
        linear-gradient(
            rgba(0,0,0,.3),
            rgba(0,0,0,.5)
        ),
        url('../img/home/book-stack-1534.jpg'); /* http://www.designerspics.com/photographs/books-reading-glass/ */
}
.lesson-plans-section {
    background-image: 
        -webkit-linear-gradient(
            rgba(0,0,0,.3),
            rgba(0,0,0,.5)
        ),
        url('../img/home/colored-pencils-1534.jpg');
    background-image: 
        linear-gradient(
            rgba(0,0,0,.3),
            rgba(0,0,0,.5)
        ),
        url('../img/home/colored-pencils-1534.jpg'); /* http://libreshot.com/coloured-pencil/ */
}
.video-section {
    background-image: 
    -webkit-linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/video-camera-1534.jpg');
    background-image: 
    linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/video-camera-1534.jpg'); /* https://pixabay.com/en/camera-video-camera-film-technology-1149041/ */
}
.recommendations-section {
    background-image: 
    -webkit-linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/books.jpg');
    background-image: 
    linear-gradient(
        rgba(0,0,0,.3),
        rgba(0,0,0,.5)
        ),
        url('../img/home/books.jpg'); /* https://pixabay.com/en/books-notepad-pen-education-690219/ */
        /* the original image is only 1280 wide */
}

/*
 * Individual pages
 */
 
.site-nav {
    display: block;
    text-align: right;
    /*display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;*/
}
.site-nav a {
    color: #444444;
    padding: 5px;
    text-decoration: underline;
}
 
.hero-header {
    line-height: 38px;
    font-size: 56px;
    color: #FFFFFF;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.content-container {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444444;
    padding: 0 20px;
}
.content-container h1,
.content-container h2,
.content-container h3 {
    line-height: 1.2;
}
.about-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/old-books-1534.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/old-books-1534.jpg");
}
.cv-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/typewriter-1534.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/typewriter-1534.jpg");
}
.teaching-phil-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/notepad-pencil-1534.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/notepad-pencil-1534.jpg");
}
.syllabus-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/book-stack-1534.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/book-stack-1534.jpg");
}
.lesson-plans-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/colored-pencils-1534.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/colored-pencils-1534.jpg");
}
.video-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/video-camera-1534.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/video-camera-1534.jpg");
}
.recommendations-header {
    background-image:
        -webkit-linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/books.jpg");
    background-image:
        linear-gradient(
            rgba(0,0,0,.1),
            rgba(0,0,0,.3)
        ),
        url("../img/home/books.jpg");
}
.nav-links.active-link {
    cursor: auto;
    text-decoration: none;
}

@media (max-width: 767px) {
    /* the row with three boxes needs to handle this earlier than the rows 
        with only two elements */
    /* the third box in this row will wrap and become as wide as the screen */
    .row.thirds {
        /* make the row tall enough to handle two layers */
        min-height: 250px;
    }
    .row.thirds .page-nav {
        /* limit the height of the boxes */
        height: 125px;
    }
    /* make menus on individual pages look a little better on mobile */
    .content-container {
        margin-top: 0;
    }
    .nav-links {
        line-height: 40px;
    }
}
@media (max-width: 511px) {
    /* need to fit 2 sections of 125px height */
    .row.halves {
        min-height: 250px;
    }
    /* needs to fit 3 sections of 125px height */
    .row.thirds {
        min-height: 375px;
    }
    .page-nav {
        height: 125px;
    }
    .section {
        opacity: 1;
    }
}